/* CSS declarations go here */
body { 
  padding-top: 65px; 
}

#calendar {
  text-align: center;
}

#account {
  text-align: center;
}

#happyFunBox {
  text-align: center;
}
#happyFunBoxBox {
  text-align: center;
  border-style: solid;
  border-width: 2px;
}
